/* img{
    width: 50px;
    height: 50px;
} */
/* .settingsPanel{
    width: 40em;
    min-height: 10vh;
    background: rgb(226,110,45);
    background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%);
} */
.panelLogo{
    width: 20px;
    height:20px;
}
.mainSettingsPanel{
    border-radius: 25px;
    width:70vw;
}

.settingsSignOutButton{
    background-color: orange;
    width: 15vw;
    height: 5vh;
}


/* Styles for screens smaller than 320px (e.g. iPhone SE) */
@media (max-width: 320px) {
    /* Add your styles here */
  }
  
  /* Styles for screens between 320px and 480px (e.g. Google Pixel 4) */
  @media (min-width: 320px) and (max-width: 480px) {
    .mainSettingsPanel{
        width: 70vw;
    }
  }
  
  /* Styles for screens between 480px and 768px (e.g. iPad) */
  @media (min-width: 480px) and (max-width: 768px) {
    .mainSettingsPanel{
        width: 70vw;
    }
  }
  
  /* Styles for screens between 768px and 992px (e.g. MacBook Pro) */
  @media (min-width: 768px) and (max-width: 992px) {
    .mainSettingsPanel{
        width: 70vw;
    }
  }
  
  /* Styles for screens larger than 992px (e.g. iMac) */
  @media (min-width: 992px) {
    /* Add your styles here */
  }