/* img{
    width: 50px;
    height: 50px;
} */
/* .settingsPanel{
    width: 40em;
    min-height: 10vh;
    background: rgb(226,110,45);
    background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%);
} */
.panelLogo{
    width: 20px;
    height:20px;
}
.mainSettingsPanel{
    border-radius: 25px;
    width: 40em;
}