*{
    margin: 0;
    padding:0;
  
}
.sidenav{
    z-index: 2;
    background-color: #1E1E1E;
    width: 10vw;
    height: 85vh;
    color: white;
    left: 0;
    padding: 35px 15px 0 -10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 0 25px 25px 0;
}

ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 30px 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

ul li p{
    white-space: nowrap;
    display: none;
}
ul li .MuiSvgIcon-root{
    width: 2em;
    height:2em;
    margin-bottom:40%;
}
.sidenav:hover{
    /* opacity: 0.6; */
    width: 20vw;
}
.sidenav:hover ul li p{
    display: block;
}
ul li p:hover{
    font-size: larger;
    transition: font-size 0.3s;
    transition-timing-function: ease-in-out;
}
.sidenav:hover ul li img{
    justify-content: flex-start;
    margin-right: 30px;
    transition: margin-right 0.4s;
}
.sidenav:hover ul li{
    justify-content: center;
}
.mobilenav{
    display: none;
}
@media only screen and (max-width:700px) {
    .sidenav {
        display: none;
    }
    .mobilenav{
        display:block;
        color:#8d8989; 
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .mobilenavbottom img{
        margin: 5vw;
        width: 10vw;
        height:5vh;
    }
}