@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Fjalla One', sans-serif;
}
body{
    background-color: Black;
}
.line{
    margin-top:10vh;
    margin-left:2%;
    margin-right: 2%;
}
.topLine{
    margin-left:2%;
    margin-right:2%;
}
.MuiSvgIcon-root:hover{
    cursor:pointer;
}
@media screen and (max-width: 600px) {
    .App{
        padding-bottom:-100px ;
    }
}