@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Fjalla One', sans-serif;
    text-decoration-line: none;
}
*:visited { 
    text-decoration: none; 
    color:white
   }
body{
    background-color: Black;
}
li:visited{
    text-decoration: none;
}
.line{
    margin-top:10vh;
    margin-left:2%;
    margin-right: 2%;
}

.MuiSvgIcon-root:hover{
    cursor:pointer;
}
.MuiAccordion-root{
    background: rgb(226,110,45);
    background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%);
    /* background-image: url('./assets/bg2-zEFitxBHV-transformed-removebg-preview.png'); */
    background-size: fill;
    border-radius: 25px;
}
.MuiAccordionSummary-root::after{
    pointer-events: none;
    content: "";
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('./assets/bg2-zEFitxBHV-transformed-removebg-preview.png');
    background-size: fill;
    border-radius: 25px;
    opacity: 0.2;
  }
@media screen and (max-width: 600px) {
    .App{
        padding-bottom:-100px ;
    }
}
