.dark {
    background-color: #000000;
    input{
        border: none;
    }
    button{
        border: none;
    }
     /* color: #fff; */
     }
 .light {
    input{
        border: none;
    }
    button{
        border: none;
    }
    background-color:#a5a1a1;
    .DonutChart{
        border-color: #000000;
     }
     .MuiDataGrid-root{
        border-color: #000000;

     }
     .sidenav{
        background-color: #8b8b8b;
     }
     .mainPanel{
        background-color: #8b8b8b;
     }
     .homeHeadingText { 
        background-color: transparent;
    }
    .homePanelData{
        background-color: #909096;
        
    }
    .amount {
        color: rgb(63, 63, 62);
      }
      .headingText{
        background-color: transparent;
      }
     .sDash{
        background-color: #8b8b8b;  
        .addGroup{
            background-color: #5a5a5a;
        }
        .cont{
            background-color: #5a5a5a;
            border-color: #000000;


        }
        .first ul{
            background-color: #5a5a5a;
            overflow-y: hidden;
            border-color: #000000;

        }
     }
     .settingsDashBoard {
        background-color: #8b8b8b;
        .board{
        background-color: #817c7c;

        }
    }
     .repaymentsDashboard{
        background-color: #8b8b8b;
     }
     .budgetBody {
        background-color: #8b8b8b;
        .three p{
            background-color: #5a5a5a;
            border-color: #000000;
        }
        .expenseTable{
            background-color:#5a5a5a ;
            border-color: #000000;

        }
        .expLineChart{
            background-color:#141313 ;
            border-color: #000000;


        }
     }
     .DoughnutChart{
        border-color: #000000;
     }
     .LiveDashboard{
        background-color: #8b8b8b;
     }
    .termsDashboard{
        background-color: #8b8b8b;
    }
    .profileDashBoard{
        background-color: #8b8b8b;

    }
 }
