.DonutChart {
    margin: auto;
    padding-top: 4em;
    width: 30%;
    height:48vh;
    border-radius: 25px;
    border: 0.3rem solid #E26E2D;
    box-shadow: 0.1em 0.1em 0.1em rgb(249, 248, 248);
}