body{}
button{
    border:1px solid black;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing{
    height: 100vh;
}
.landingButtons{
    display: flex;
    gap: 15px;
    align-items: center;
}
/* 
@media screen and (max-width: 600px) {
    button{
        display: hidden;
    }
  } */
  @media only screen and (max-width: 600px) {
    .landing {
      height: auto;
      overflow: hidden;
    }
    .landingButtons {
     
      gap: 0px;
    }
  }