.homeBody{
    display: flex;
    /* margin-bottom: 6%; */
    justify-content: space-between;
}
.mainPanel{
    background-color: #1E1E1E;
    width: 84%;
    padding:2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap:4vh;
    justify-content:space-between; 
    /* margin: auto 2%; */
}
.cardPanel{
    margin: 5%;
    background: rgb(226,110,45);
    background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%);
}
.homeFooter{
    margin-top: 4%;
}