.footer{
    position:fixed;
    width: 100%;
    bottom:0;
    display: flex;
    color: white;
    /* justify-content: center;   */
}
.footer_links{
    flex:4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icons{
   margin: 1%;
}
.MuiSvgIcon-root{
   margin-right: 5px
}
