.panelLogo{
    width: 100px;
    height:100px;
}

.addMemberIcon{
    width: 100px;
}
.addMemberB{
    width: 100px;
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 
}