@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.sBody{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-family: 'Gloock', serif;
  }
  .sDash{
    background-color: #1e1e1e;
    width: 84%;
    height: 80vh;
    padding: 2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: space-between;
    overflow-y: scroll;
  }
  .cont{
    display:flex;
    flex-direction: column;
  }
  .first{
    display:flex;
    gap: 2%;
  }
  .first ul{
    width: 22%;
    background-color: #1f1f1f;
    border-radius: 25px;
    border: 0.3rem solid #E26E2D;
    box-shadow: 0.1em 0.1em 0.1em rgb(249, 248, 248);
    padding:3%;
    font-size: 2em;
    color:white;
    text-align: center;
    overflow-y: scroll hidden;
    /* font-family: 'Gloock', serif; */
    /* font-family: 'Gloock', serif; */
  } 
  .first ul form{
    display: flex;
    flex-direction: row;
   align-items:center;
   margin-top: 20%;
  }
  .activityTable .addControForm{
    /* background-color: aqua; */
    display: flex;
    gap: 2vw;
    justify-content: space-evenly;
  }
  .addControForm input{
    border-radius: 10px;
  }
  /* .second{
    display:flex;
    margin:2%
  }
  .second form{
    display: flex;
flex-direction: row;
justify-content: flex-start;
  } */
  .cont{
    background-color: #1e1e1e;
    padding: 2%;
  }

.activityTable{
  display: flex;
  flex-direction: column;
}
.activityTable form{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  /* gap: -2%; */
  /* margin-left: -10%; */
  flex-direction: row;
}
.activityTable form select , input{
  width: 9.2em;
  margin-right:-7%;
}
.addShareB{
  width: 100px;
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 
}
.statB{
  width: 100px;
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 
}
.simplifyB{
  width: 100px;
  /* margin-left: -30%; */
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 
}
.first ul p{
  display: flex;
  justify-content: space-between;
  
  margin-top: 5%;
}

/* .popupForm{
  background-color: #1e1e1e;

} */
.popupForm input{
  margin-bottom: -25%;
}
.addPercentB{
  width: 100px;
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 

}
.headingText{
  background-color: black;
  margin-left: 30%;
  text-align: center;
  margin-top: 1vh;
    width: 7em;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;  
    text-transform: capitalize;
    font-size: 2em;
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
.addGroup{
  width: auto;
  height: 15vh;
  background-color: #1e1e1e;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.addGroup form{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}
.addGroup form input{
  border-radius: 15px;
  text-align: center;
  width: 20vw;
  height: 6vh;
}
.addGroup form button{
  width: 10vw;
}