button{
    border:1px solid black;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingButtons{
    display: flex;
    gap: 15px;
    align-items: center;
}

