.profileBody{
    display:flex;
    justify-content: space-evenly;
}
.profileInfo{
    background-color: #1f1f1f;
    display:flex;
    flex-direction: column;
    margin:5%;
    padding: 5%;
}
/* .headerAvatar{
    display: flex;
    align-items: center;
    margin-right: 3%;
} */
