@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
.homeBody{
    display: flex;
    /* margin-bottom: 6%; */
    justify-content: space-between;
}
.mainPanel{
    background-color: #1E1E1E;
    width: 84vw;
    padding:2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap:4vh;
    justify-content:space-between; 
    /* margin: auto 2%; */
}
.MuiSvgIcon-root{
    color: white;
}
.homeFooter{
    margin-top: 4vh;
}
.homePanelData{
    text-align: center;
    width: auto;
    height: 10vh;
    background-color: #1E1E1E;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    /* padding :5%; */
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}
.homePanelData p{
    font-family: 'Nova Slim', cursive;
}

.panelDataInner{
    display: flex;

}
.amount{
    color: aquamarine;
}
.homeHeadingText{
    background-color: black;
    margin:auto;
    text-align: center;
    margin-top: 1vh;
      width: max-content;
      color: white;
      text-align: center;
      padding: 20px;
      border-radius: 20px;  
      text-transform: uppercase;
      font-size: 2em;
      font-family: 'Gloock', serif;
      /* font-weight: 500; */
  }