.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 12vh;
    align-items: center;
    margin-right: 3vw;
}
.header .default{
    display: flex; 
    padding-top: 3vh;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.hLogo {
    position: fixed;
    width: 12vw;
    /* margin-top: -4%; */
    top: 0.8vh;
    left: -1%; 

}
.header h1{
    color: white;
    /* margin-left: 7vw; */
    text-align: center;
    font-size: 3em;
}
.headerLine{
    margin-bottom: 3vh;
    margin-left:13vw;
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        margin: auto;
    }
    .default{
        display: flex;
        justify-content: flex-start;
    }
    .landingButtons{
        display: flex;
        justify-content: center;
    }
  }
 
  @media only screen and (max-width: 768px) {
    .landing {
      height: auto;
      overflow: hidden;
    }
    .landingButtons {
      gap: 0px;
    }
  }