.header{
    display: flex;
    justify-content: space-between;
}
.header .default{
    display: flex;
    flex-direction: row;
    padding: 10px auto;
    align-items: center;
}
.header img{
    width: 130px;
    height: 100px;
}
.header h1{
    color: white;
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        margin: auto;
    }
    .default{
        display: flex;
        justify-content: flex-start;
    }
    .landingButtons{
        display: flex;
        justify-content: center;
    }
  }