.lHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}
.lHeader .lDefault{
    display: flex; 
    align-items: center;
}
.lDefault .lLogo{
    width: 30%;
    height: 25%;
}
.lHeader h1{
    color: white;
    font-size: 3em;
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        margin: auto;
    }
    .default{
        display: flex;
        justify-content: flex-start;
    }
    .landingButtons{
        display: flex;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 768px) {
    .landing {
      height: auto;
      overflow: hidden;
    }
    .landingButtons {
      gap: 0px;
    }
  }