.splitBody{
    display: flex;
    justify-content: space-between;
  }
  .splitDashboard{
    background-color: #1e1e1e;
    width: 84%;
    height: 80vh;
    padding: 2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: space-between;
    overflow-y: scroll;
  }
  .splitPanelData{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

  }
  .red{
    color: red;
  }
  .green{
    color: rgb(120, 194, 9);
  }
  .summaryTable{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-left: -5%;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
    overflow: hidden;
    margin-right: 5%;
    background-color: #1e1e1e;
    color: white;
    width: 25%;
  }
  .addContro input{
      width: 10em;
  }
  .addContro select{
    color: black;
    width: 10em;
  }
.options{
  color: black;
}

.Split{
  margin-left: 40.75%;
  display: flex;
}

.Split select{
  width: 18em;
}