@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
  margin: 0;
  padding: 0;
}
.bodyContainer{
  width: 100vw;
  height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-duration: 2s;
    animation-name: wipe-in-right;
    margin-top: 8vh;
  }
  .bodyContainer p{
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
  /* text-transform: capitalize; */
  font-weight: 100;
}
.bodyContainer p span{
  font-style: normal;
  font-family: 'Monoton', cursive;
  font-size: 2em;
}
.slideImage {
    height: 30em;
    width: 30em;
    display: flex;
    align-items: center;
}
.slideImage img{
    width:90%;
    height:90%;
}
.slideText {
    width:40vw;
    font-size: 3em;
    display: flex;
    align-items: center;
    transition: all;
    color: white;
    transition-duration: 2s;
    
}
.highlight{
  color: coral;
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  .bodyContainer{
      display: block;
    }
      .slideImage{
        height: 30vh;
        display: flex;
        justify-content: center;
          width: 100vw;
        }
        .slideImage img{
          height: 15em;
          width: 15em;
        }
       .slideText{
        margin-top: 10%;
        margin-left: 10%;
        width:100%;
        display: flex;
        justify-content: flex-start;
        font-size: 2rem;
       } 
  }