.bodyContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.slideImage {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    transition: all;
    transition-duration: 2s;
}
.slideImage img{
    width:100%;
    height:100%;
}
.slideText {
    width:400px;
    font-size: 3em;
    display: flex;
    align-items: center;
    transition: all;
    color: white;
    transition-duration: 2s;
}
.slideText span[class^="FINANCES"] {
    color: blue;
}
