*{
  margin: 0;
  padding: 0;
}
.bodyContainer{
  width: 100%;
    display: flex;
    justify-content: space-around;
    transition-duration: 2s;
    animation-name: wipe-in-right;
    margin-top: 50px;
}
.slideImage {
    height: 30em;
    width: 30em;
    display: flex;
    align-items: center;
}
.slideImage img{
    width:100%;
    height:100%;
}
.slideText {
    width:40%;
    font-size: 3em;
    display: flex;
    align-items: center;
    transition: all;
    color: white;
    transition-duration: 2s;
}
.highlight{
  color: coral;
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  .bodyContainer{
      /* flex-direction: column;
      align-items: center; */
      /* display: flex; */
      display: block;
    }
      .slideImage{
        height: 30vh;
        display: flex;
        justify-content: center;
          width: 100vw;
        }
        .slideImage img{
          height: 15em;
          width: 15em;
        }
       .slideText{
        margin-top: 10%;
        margin-left: 10%;
        width:100%;
        display: flex;
        justify-content: flex-start;
        font-size: 2rem;
       } 

  }