.repaymentsBody{
    display: flex;
    justify-content: space-between;
}
.repaymentsDashboard{
    background-color: #6b6565;
    width: 84%;
    height: 80vh;
    padding: 2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: space-between;
}
.repaymentTable{
    color:white
}