.repaymentsBody{
    display: flex;
    justify-content: space-between;
}
.repaymentsDashboard{
    background-color: #1e1e1e;
    width: 84%;
    height: 80vh;
    padding: 2%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
   
}

.repaymentsForm{
    display: flex;
    flex-direction: row;
    gap: 8%;
    height: 20%;
    /* background-color: black; */

}
.repaymentsForm input{
    height: 50%;
    width:27%;
    border-radius: 15px;
    text-align: center;
}
.addRepaymentB{
width: 100px;
  height: 40px;
  color:white;
  background: rgb(226,110,45);
  background: linear-gradient(0deg, rgba(226,110,45,1) 0%, rgba(214,86,58,1) 100%); 
}