.profileBody{
    display:flex;
    justify-content: space-evenly;
}
.profileDashBoard{
    width:87%;
    background-color: #1e1e1e;
    border-radius: 25px;
    height:84vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap:5%;
    /* align-items: center; */
    padding-top: 5%;
}
.profileDashBoard .MuiSvgIcon-root{
    width: 10em;
    height:8em;
    margin-top: 2%;
    margin-left: 10%;
}

.profileForm{
    display: flex;
    flex-direction: column;
    gap:7%
}
.profileForm input{
    height: 3em;
    width: 15em;
    border-radius: 25px;
}
.profileEditImg{
    padding-left: 5%;
    width:25em;
    height: 20em;
}